{% extends "layout.html" %}
{% block body %}

    <br>
    <div>
        <table>
            <tr>
                <th>PART ID</th>
                <th>PART NAME</th>
            </tr>
            {% for prows in prows %}
                <tr>
                    <td>{{ prows[0] }}</td>
                    <td>{{ prows[1] }}</td>
                </tr>
                </table>
                </div><br><br>
                <div>
                <table>
                <tr>
                    <th>VENDOR ID</th>
                    <th>VENDOR NAME</th>
                </tr>
                {% for rows in vrows %}
                    <tr>
                        <td>{{ rows[0] }}</td>
                        <td>{{ rows[1] }}</td>
                        <td style="width: 0px;background-color: white;border: none;"><a
                                href="/delete_vendor_availability/{{ rows[0] }}/{{ prows[0] }}"
                                class="btn btn-outline-secondary">delete</a>
                        </td>
                    </tr>
                {% endfor %}{% endfor %}
            </table>
            </div><br><br><br><br>

{% endblock body %}